*{
   margin: 0;
   padding: 0;
}
.center{
   text-align: center;
   color: white;
   font-size: 35px;
   font-family: 'Bree Serif', serif;
}

#top{
   padding: 2.3rem 0;
   background-color: black;
}
.container{
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: skyblue;
   flex-wrap: wrap;
   height: auto;
}
.content:hover{
   transform: scale(1.1);
}
.second {
   margin-top: 0px;
}
.content{
   margin: 15px 30px;
   display: flex;
   padding: 25px;
   flex-direction: column;
   height: 210px;
   transition: 0.2s;
   border-radius: 4px;
   width: 322px;
   transition: all 0.6s;
}
.vid{
   border-radius: 4px;
}
.about{
   text-align: center;
   max-width: 291px;
   padding: 12px 0px;
   margin-top: 4px;
   cursor: pointer;
   font-size: 1.4rem;
   font-family: 'Bree Serif', serif;
}